# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directory
.venv/

# Ignore other directories or files
node_modules/
.DS_Store
.env

Run_Docker_Run/.venv


HyperNetwork/.venv